* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

h1, h2, h3, p, button, a, img {
    transition: 0.7s;
}

h1:hover, h2:hover, h3:hover, p:hover, button:hover, a:hover, img:hover {
    transform: scale(1.02);
}

.container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    transition: 1s;
}

.container:hover {
    transform: scale(1.01);
}

.content {
    flex-wrap: wrap;
}

.header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    margin: 50px 0 130px;
}

.header .content .logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .content .logo {
    margin-right: 120px;
    cursor: pointer;
    transition: 1s;
}

.header .content .logo:hover {
    transform: scale(1.02);
}

.header .content .nav {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}  

.header .content .nav li {
    transition: all 0.3s;
}

.header .content .nav li a {
    margin-right: 40px;
    color: #4B5D68;
    font-weight: 600;
    transition: all 0.3s;
}

.header .content .nav li:hover, .header .content .nav li a:hover {
    transform: scale(1.2);
    color: black;
    text-decoration: underline black;
}

.header .content .header-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 210px;
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    padding: 17px 29px;
    border: none;
    font-weight: 800;
    font-size: 16px;
    line-height: 25.6;
    color: #212353;
    letter-spacing: 0.005em;
    cursor: pointer;
}


.header .content .header-btn img {
    max-width: 20px;
}

.header .content .header-btn:hover {
    background: #212353;
    color: #FFFFFF;
}

.about {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    background-image: url(../images/about-img.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 70% auto;
    margin-bottom: 86px;
}

.about h1 {
    font-family: 'Arimo', sans-serif;;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px;
    max-width: 645px;
    width: 100%;
    margin: 0 0 50px 0;
    color: #212353;

}

.about p {
    max-width: 380px;
    width: 100%;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 50px;
    color: #4B5D68;
}

.about .about-btn {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 28.8px;
    border: none;
    padding: 15px 37px;
    color: white;
    background: #9C69E2;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 100px;
}

.about .about-btn:hover {
    background: white;
    color: #9C69E2;
    border: 2px solid #9C69E2;
}

.info .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    margin-bottom: 163px;
}

.info .content img {
    margin: 27px 0;
}

.info .content .text {
    max-width: 475px;
    width: 100%;
}

.info .content .text h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 40px;
    line-height: 130%;
    color: #212353;

}

.info .content .text p {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}

.features .content .title {
    text-align: center;
    margin-bottom: 150px;
}

.features .content .title h2 {
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #212353;
    margin-bottom: 50px;
}

.features .content .title p {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28.8px;
    color: #4B5D68;
    max-width: 575px;
    width: 100%;
    margin: 0 auto;
}

.features .content .cards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.features .content .cards .card {
    max-width: 520px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 105px;
}

.features .content .cards .card .card-image {
    max-width: 235px;
    width: 100%;
    margin: 28px;
}

.features .content .cards .card .text {
    max-height: 340px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features .content .cards .card .text h3 {
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31.2px;
    margin: 20px 0;
}

.features .content .cards .card .text p {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    margin-bottom: 20px;
}

.features .content .cards .card .text button {
    display: flex;
    align-items: center;
    max-width: 210px;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #FFFFFF;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 25.6;
    color: #212353;
    letter-spacing: 0.005em;
    cursor: pointer;
}

.features .content .cards .card .text button img {
    margin-left: 20px;
}

.feed .content {
    display: flex;
    flex-direction: column;
    background: #9C69E2;
    border-radius: 50px;
    padding: 109px 76px 60px 76px;
    margin-bottom: 150px;
}

.feed .content h2 {
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    margin-bottom: 88px;
}

.feed .content .self {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 20px 0px rgba(40, 10, 82, 0.411);
    border-radius: 20px;
    padding: 60px 103px;
    margin-bottom: 60px;
    transition: 1s;
}

.feed .content .self:hover {
    transform: scale(1.02);
}


.feed .content .self .text {
    margin-left: 44px;
    max-width: 560px;
    width: 100%;
}

.feed .content .self .text h3 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 28.8px;
    letter-spacing: 0.005em;
    color: #212353;
}

.feed .content .self .text a{
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22.4px;
    letter-spacing: 0.001em;
    margin-bottom: 19px;
    color: #9C69E2;
}

.feed .content .self .text a:hover {
    text-decoration: underline #9C69E2;
}

.feed .content .self .text p {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32.4px;
    color: #4B5D68;
}

.feed .content .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed .content .bottom img {
    transition: all 0.3s;
}

.feed .content .bottom img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.feed .content .bottom ul {
    list-style: none;
    min-width: 55px;
    display: flex;
    justify-content: space-between;
}


.feed .content .bottom ul li {
    width: 5px;
    height: 5px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.feed .content .bottom ul li:hover {
    background-color: #F063B8;
    transform: scale(2);
    cursor: pointer;
}

