* {
    margin: 0;
    padding: 0;
    
}

body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
  }

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.input {
    box-sizing: border-box;
}
.container {
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    background-color: #ED4C5C;
    height: auto;
}

.main .content {
    display: flex;
    justify-content: space-around;
    padding-top: 94px;
}

.main .content .title {
    max-width: 445px;
    width: 100%;
    margin-top: 28px;
}

.main .content .title h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43.2px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.main .content .title p {
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.main .content .title .icon {
    max-width: 134px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 110px;
}

.main .content .slider {
    max-width: 533px;
    width: 100%;
}

.contacts {
    background-color: white;
    height: auto;
    margin-bottom: 45px;
}

.contacts .content {
    display: flex;
    justify-content: space-around;
    padding-top: 117px;
    height: auto;
}

.contacts .content .contact {
    max-width: 445px;
    width: 100%;
    max-height: 160px;
    height: 100%;
}

.contacts .content .contact h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43.2px;
    margin-bottom: 52.8px;
}

.contacts .content .contact p {
    font-size: 14px;
    line-height: 20px;
    max-width: 434px;
    width: 100%;
}

.contacts .content .input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    line-height: 19.2px;
    color: rgba(19, 39, 67, 0.5);
    max-width: 540px;
    width: 100%;

}

.contacts .content .input input,
.contacts .content .input select {
    height: 60px;
    border: 1px solid #333333;
    padding-left: 31px;
    box-sizing: border-box;
    margin-bottom: 24px;
    border-radius: 6px;
}

.contacts .content .input .self {
    display: flex;
    justify-content: space-between;
}

.contacts .content .input .self .name {
    max-width: 255px;
    width: 100%;
}

.contacts .content .input button {
    max-width: 160px;
    width: 100%;
    height: 50px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    font-size: 14px;
    line-height: 16.8px;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 78px;
}

.contacts .content .input button:hover {
    background-color: #E5E5E5;
    color: #0B2239;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
    border-color: #333333;
}

.contacts .content .input button:active {
    background-color: #6add46;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

.footer {
    background-color: #FAFAFA;
    height: auto;
    padding-top: 97px;
}

.footer .content {
    display: flex;
    justify-content: space-around;
}

.footer .content div {
    max-width: 290px;
    width: 100%;
}

.footer .content h3 {
    font-weight: 700;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    color: #101010;
    margin-bottom: 33px;
}

.footer .content p {
    font-size: 14px;
    font-weight: 400;
}

.footer .content .addres p {
    line-height: 18px;
    margin-bottom: 140px;
}
.footer .content .addres .date {
    line-height: 14.4px;
}

li {
    list-style-type: none;
    color: #000000;
    line-height: 19.2px;
}

.footer .content .touch p {
    line-height: 14.4px;
}

.footer .content .touch .tel {
    margin: 11px 0 20px 0;
}

.footer .content .touch .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 66px;
    width: 100%;
}