body {
    background-color: #0E0E0E;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 15px;
    background-color: #2C2C2C;
}

.table {
    border-collapse: separate;
    border: 2px solid #575757;
    border-radius: 6px;
    empty-cells: hide;
    border-spacing: 0;
    margin: 100px auto;
    font-family: 'Roboto', sans-serif;
    background-color: #2F2F2F;
    transition: 0.7s;
}

.table:hover {
    transform: scale(1.02);
}

thead {
    color: #EBEBEB;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

tbody {
    color: #AAAAAA;
    font-weight: 500;
    overflow: hidden;
}

tbody td:nth-child(2) {
    color: #575757;
}

tbody td:nth-child(1) {
    cursor: pointer;
}

td {
    border-bottom: 1px solid #575757;
    padding: 20px 350px 20px 20px;
    border-top-left-radius: 6px;
}

td:nth-child(1) {
    cursor: pointer;
}

td:nth-child(3) {
    padding-right: 20px;
}

i {
    transition: 1.2s;
    margin-left: 10px;
    font-size: 16px;
}

i:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: rotate(360deg);
}

form {
    display: inline-block;
}


.table.check i {
    color: white;
}

.table.check td:nth-child(1) {
    padding-right: 321px;
}

.table.check input {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.file tbody td:nth-child(1) i {
    color: #3c82fc;
    margin-right: 10px;
}

.file td:nth-child(1) {
    padding-right: 322.36px;
}

.file td:nth-child(2) {
    padding-right: 182px;
}

.file thead td:nth-child(3) {
    padding: 0;
}

.file thead .input-search {
    color: #f7f4f4;
    border: none;
    padding: 12px 0 12px 42px;
    border-radius: 6px;
    background: url(../image/search.svg) no-repeat;
    background-size: 80px;
    background-position: -17px;
    background-color: rgb(80, 80, 80);
}

.file tbody td:nth-child(3) {
    padding-left: 190px;
    color: white;
}